[project]
	description = sample repository to store ant build files to deploy components
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amitpundir423
[access "refs/for/refs/*"]
	read = group user/amitpundir423
	push = group user/amitpundir423
	label-Code-Review = -2..+2 group user/amitpundir423
	label-Verified = -1..+1 group user/amitpundir423
	rebase = group user/amitpundir423
	removeReviewer = group user/amitpundir423
	submit = group user/amitpundir423
[access "refs/heads/*"]
	read = group user/amitpundir423
	create = group user/amitpundir423
	push = +force group user/amitpundir423
	pushMerge = group user/amitpundir423
[access "refs/tags/*"]
	push = group user/amitpundir423
	push = +force group user/amitpundir423
